* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.header {
  background: #FF6600;
  color: white;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 5px;
  flex-wrap: wrap;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li {
  position: relative;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  display: none; 
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
}
.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}
.dropdown:hover .dropdown-menu {
  display: block; 
  color: black;
}
.dropdown-menu li a:hover {
  background-color: #f2f2f2;
  color: black;
}
.buttons .btn {
  background-color: white; 
  color: rgb(222, 89, 41); 
  padding: 10px 20px; 
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}
.buttons .btn:hover {
  background-color: #FF6600; 
}
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
}
@media (max-width: 780px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #FF6600;
    width: 100%;
  }
  .nav-links.show {
    display: flex;
  }
  .hamburger {
    display: block;
    padding-left: 10px;
  }
  .buttons .btn{
    margin-top: 15px;
  }
}
.slider {
  position: relative;
  height: 90vh;
  overflow: hidden;font-weight: bold;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
body {
  height: 100%; 
  margin: 0;
  padding: 0;
}
.static-image {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #FF6600; 
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100px;
  z-index: 9999; 
}
.static-image i {
  color: #FF6600;
  border-radius: 60%;
  padding: 3px 3px;
  background-color: white;
  font-size: 24px;
}

.profile {
  position: relative;
  width: 300px;
  margin: 0;
  padding-top: 22%;
  position: absolute;
  right: 0px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}

.profile img {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 50%;
  border-radius: 10px 10px 0 0;
}
.profile-text {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 30%;
  background: #f37021;
  padding: 40px 10px 10px 10px;
  color: white;
  clip-path: polygon(10% 20%, 100% 20%, 100% 100%, 0% 100%);
}
.profile-text strong {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.slide-content h1 p{
  text-align: start;
  color: white;
  padding-right: 30%;
  padding-left: 10%;
}
/*@media (max-width: 768px) {
  .profile {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  
.profile img {
  width: 70%;
  height: auto;
  display: block;
  margin-right: 10%;
  padding-top: 60%;
  border-radius: 10px 10px 0 0;
}

.profile-text {
  position: absolute;
  bottom: 0%;
  width: 100%;
  background: #f37021;
  padding: 40px 10px 10px 10px;
}
.slide-content h1 p{
  text-align: center;
  color: white;
}
}*/
/*@media(max-width:480px){
  .profile {
  padding-left: 20px;
    right: auto;
    transform: translateX(-50%);
  }  
.profile img {
  width: 75%;
  height: auto;
  padding-left: 35px;
  display: block;
  text-align: center;
  padding-top: 80%;
  border-radius: 10px 10px 0 0;
}
.profile-text {
  position: absolute;
  bottom: 0%;
  width: 80%;
  height: 30%;
  background: #f37021;
  padding: 35px 10px 20px 30px;
}
.profile-text strong {
  display: block;
  font-size: 15px;
  
}
.slide-content {
  text-align: center;
  color: white;
}
}*/
@media(max-width:1224px){
 .profile{
  display: none;
 }
 .nav-links {
  display: none;
  flex-direction: column;
  background: #FF6600;
  width: 100%;
}
.nav-links.show {
  display: flex;
}
.hamburger {
  display: block;
  padding-left: 10px;
}
.buttons .btn{
  margin-top: 15px;
}
.slide-content {
  text-align:center;
  color: white;
}
  .slide-img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  }
  .slider {
  position: relative;
  height: 80vh;
    text-align:center;
  overflow: hidden;font-weight: bold;
}
 
}




.arrows {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-30%);
  display: flex;
  gap: 20px;
}
.arrows button {
  background: rgba(249, 243, 243, 0.929);
  color: rgb(18, 17, 17);
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
}




.arrows  :hover{
  background-color: #f37021;
}




.slide-content {
  text-align: start;
  color: white;
  padding-right: 30%;
  padding-left: 10%;
}

@media (max-width: 1224px) {
  .arrows{
    display: none;
  }
  
  
}

.animate-title {
  animation: slideDown 0.7s ease;
}
.animate-desc {
  animation: slideUp 0.7s ease;
}
@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slider-section {
  padding: 50px 0px;
}
.swiper-slide {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: background 0.5s;
}
.swiper-slide img.card-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s;
}
.overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background:#FF6600;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 15px;
}
.fixed-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}
.fixed-content h5 {
  margin: 0;
  font-size: 1.5rem;
}
.fixed-content button {
  background: white;
  color: black;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 8px;
}
.hover-icon {
  position: absolute;
  top: 15px;
  left: 5px;
  font-size: 30px;
  color:#f37021;
  background-color: white;
  border-radius: 50%;
  margin: 10px 10px;
  padding: 5px 5px;
  opacity: 0;
  transition: 0.5s;
}
.hover-content {
  position: absolute;
  bottom: -100px;
  left: 20px;
  color: white;
  opacity: 0;
  transition: all 0.5s;
}
.swiper-slide:hover .overlay {
  opacity: 1;
}
.swiper-slide:hover .hover-icon {
  opacity: 1;
  top: 20px;
}
.swiper-slide:hover .hover-content {
  bottom: 80px;
  opacity: 1;
}
@media (max-width: 768px) {
  .swiper-slide img.card-img {
    height: 350px;
  
  }
}
@media (max-width: 576px) {
  .swiper-slide img.card-img {
    height: 300px;
  }
}
@media (max-width:1224px){
   .swiper-slide img.card-img {
    height: 400px;
  
  }

